:root {
  --title-width: 1200px;
  --title-scale-x: 1;
  --view-width: 1px;
}

* {
  color: #fff
}

body {
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.cmd-window {
  background-color: black;
  color: white;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  min-height: 90%;
  font-family: 'Consolas', monospace;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 300px;
  max-width: 90%;
  flex: 1;
  overflow-y: auto;
}

.custom-title {
  width: 100%;
  display: flex;
  justify-content: center;
  scale: var(--title-scale-x);
  height: calc(200px * var(--title-scale-x));
}

.title-animation {
  animation: sizechange .8s 1 normal forwards;
}

.title-animation-reverse {
  animation: sizechange .8s 1 reverse forwards;
}

@keyframes sizechange {
  0% {
    height: calc(200px * var(--title-scale-x));
    scale: var(--title-scale-x);
    transform: translate(0px, 0px);
  }

  100% {
    height: 50px;
    scale: 0.4;
    transform: translate(calc(var(--view-width) / 2 * var(--title-scale-x)), -50px);
  }
}

.cmd-prompt {
  display: inline-block;
  font-family: 'Consolas', monospace;
  margin-bottom: 10px;
}

.cmd-cursor {
  content: '|';
  color: yellow;
  animation: blink 1s infinite;
  position: absolute;
  right: 0;
}

.cmd-body {
  flex: 1;
  padding: 10px 10px 10px 10px;
  height: 100%;
  overflow-y: auto;
  display: inline-table;
}

#inputArea {
  height: 50px;
}

#outputArea {
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1;
}

#cmd-menu {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.menu-link:hover,
.post-link:hover {
  text-shadow: 1px 1px 5px #ffffff;
  transform: scale(1.2, 1.2) translateY(-2px);
  transition: all .3s;
  color: #8fdf9f !important;
}

a {
  -webkit-tap-highlight-color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
}

.page-content {
  height: 90%;
  width: 100%;
  display: flex;
}

.post-link {
  color: rgb(119, 255, 255) !important;
  margin-left: 0px;
}

.post-meta {
  margin-right: 0px;
  float: right !important;
}

.blog-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.blog-head {
  font-size: 18px;
  font-weight: 5px;
  white-space: pre-line;

  padding-top: 10px;
  padding-bottom: 10px;
}

/* 信息块 */
.info-track {
  background-color: #2a7502;
  font-size: 16px;
  line-height: 30px;
  border-radius: 5px;
  width: 95%;
  margin: auto;
  padding: 10px 10px 10px 10px;
  transition: all 500ms linear;
  white-space: pre-line;
}

.info-track>a {
  text-decoration: underline !important;
  font-size: 17px;
  margin: 5px 5px;
}

.info-track:hover {
  animation: info-track-ani 0.5s forwards;
}

@keyframes info-track-ani {
  from {
    background-color: #2a7502;
    border-radius: 5px;
    transform: translate(0px, 0px);
  }

  to {
    background-color: #8ac303;
    border-radius: 15px;
    transform: translate(-10px, 0px);
  }
}